<ul class="category-slider">
{% for block in section.blocks %}
	 <li>
       {% if block.settings.slider_image_url != blank %}
		<a href="{{block.settings.slider_image_url}}">
     {% endif %}
           <img src="{{ block.settings.slider_image | img_url: '900x' }}" />
     {% if block.settings.slider_image_url != blank %}
		</a>
     {% endif %}
  </li>
 {% endfor %}
</ul>