<div class="sidebar_widget wow fadeInUp">
	<div class="widget-title">
		<h3>{{ settings.sidebar_products_title }}</h3>
	</div>
	<div class="widget-content">
       {% if settings.products_list_collection != blank %}
		<div class="list list-sidebar-products">			
				<div class="grid-products"> {% assign product_grid = 1 %}
					{% assign columns = true %}			
					{% for product in collections[settings.products_list_collection].products limit:settings.num_of_products_in_carosel %}
						{% include 'product-card-grid' %}
					{% endfor %} 
                </div>
		</div>
      	{% else %}
			<p>Please select collection from store admin sidebar</p>
		{% endif %} 
	</div>
</div>


