<div class="sidebar_widget wow fadeInUp"> 
    <div class="widget-title"><h3> {{settings.static_text_block_title }}</h3></div>
    <div class="widget-content">
    	{{ settings.static_text_block_text }}
    </div>
</div>  

