{% if section.settings.show_related_products == true %}
<div class="related-product" itemscope itemtype="http://schema.org/Product"> 
  
    {% assign number_of_related_products_per_row = section.settings.related_grid_num %}
	{% assign number_of_rows = section.settings.related_total_product_to_show | plus:1 %}
	
	{% assign heading = section.settings.related_title %}
	
	{% assign same_vendor = false %}
	{% assign same_type = false %}
	
	{% assign exclusions = 'frontpage,all' | split: ',' %}
	
	{% if product.metafields.c_f['Related Products'] %}
	{% assign collection = collections[product.metafields.c_f['Related Products']] %}
	{% endif %}
	
	{% assign found_a_collection = false %}
	{% if collection and collection.all_products_count > 1 %}
	{% unless exclusions contains collection.handle %}
	{% assign found_a_collection = true %}
	{% endunless %}
	{% endif %}
	{% unless found_a_collection %}
	{% for c in product.collections limit: number_of_rows %}
	{% unless exclusions contains c.handle or c.all_products_count < 2 %}
	{% assign found_a_collection = true %}
	{% assign collection = c %}
	{% break %}
	{% endunless %}
	{% endfor %}
	{% endunless %}
	
	
	{% if found_a_collection %} 
	
	{% assign current_product = product %}
	
	{% comment %}
	{% case number_of_related_products_per_row %}   
	{% when '3' %}
	{% assign grid_item_width = 'small--one-half medium-up--one-third' %}
	{% when '4' %}
	{% assign grid_item_width = 'small--one-half medium-up--one-quarter' %}
	{% when '5' %}
	{% assign grid_item_width = 'small--one-half medium-up--one-fifth' %}   
	{% endcase %}
	{% endcomment %}
	
	
	{% capture related_items %}
	<div class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %} grid-products"> {% for product in collection.products limit : number_of_rows %}
		{% unless product.handle == current_product.handle %}
		{% unless same_vendor and current_product.vendor != product.vendor %}
		{% unless same_type and current_product.type != product.type %}
		<div class="grid__item"> {% include 'product-card-grid' %} </div>
		{% endunless %}
		{% endunless %}
		{% endunless %}
		{% endfor %} </div>
	{% endcapture %}
	
	{% assign related_items = related_items | trim %}
	
	{% unless related_items == blank %}
	
	
	{% unless heading == blank %}
	<header class="section-header">
		<h2 class="section-header__title text-center"> <span>{{ heading }}</span> </h2>
		{% if section.settings.related_sub_title != blank %}
		<p class="sub-heading">{{ section.settings.related_sub_title}}</p>
		{% endif %} </header>
	{% endunless %}
	<div class="grid-uniform"> {{ related_items }} </div>
	{% endunless %}     
	{% endif %} 
</div>
{% endif %} 