<!-- BREADCRUMB -->
<div class="bredcrumbWrap">
  <div class="container"> {% include 'breadcrumb' %} </div>
</div> 

<div class="container">  
      <div class="section-header page-title">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
</div>

{% section 'lookbook-template' %}